:root{
    --mauve:#D473D4;
    --main-color:rgb(162, 0, 255);
    --transparent-color:rgba(235, 225, 240, 0.9);
    --section-padding:100px;
}
/* End Variables */
/* Start Global Rules */
*{
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0;
    }
    html{
        scroll-behavior: smooth;
    }
    ul{
        list-style: none;
    }
    
    body {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400; 
        font-style: normal;
        font-variation-settings: "wdth" 100;
        overflow-x: hidden;
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Small */
    @media (min-width:768px){
        .container{
            width:750px;
        }
    }
    /* Medium */
    @media (min-width:992px){
        .container{
            width:970px;
        }
    }
    /* Large */
    @media (min-width:1200px){
        .container{
            width:1170px;
        }
    }
    /* End Global Rules */
    /* Start header */
.header{
    /* position: fixed; */
    width: 100%;
    z-index: 1000;
    top: 0;
    display: flex;
    background-color: var(--transparent-color);
    padding: 10px;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
    padding-top: 12px;
    padding-left: 5px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.login-signup{
    padding-top: 7px;
    padding-right: 35px;
    margin-left: auto;
}
#login{
    border: none;
    background-color:rgba(235, 225, 240,1);
    cursor: pointer;
    color: var(--main-color);
    transition: transform 0.2s, box-shadow 0.2s;
}
#login:hover{
    background-color:rgba(235, 225, 240,1);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#signup{
    margin-left: 25px;
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
#signup:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* End header */
/* Start div1 */
.classement{
    background-color:#6b0f6b;
    padding-top: 18px;
    position: relative;
    z-index: 0;
}
.div1{
    display: flex;
    flex-direction:column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.title{
    /* background-color: aqua; */
    flex: 1;
    text-align: center;
    /* padding-top: 30px; */
    overflow: hidden;
}
.title h1{
    letter-spacing: 6px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 35px;
    color: white;
}
.title p{
    letter-spacing: 4px;
    font-size: 18px;
    color: white;
}
.logo-frmf{
    padding-top: 6px;
    width: 50px;
    height: 50px;
}
/* End div 1 */
/* Start classementTable */
#classementTable thead tr th{
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}
tbody{
    color: white;
}
th, td {
    padding: 5px;
    text-align: center;
}
#classementTable th, #classementTable td{
    background-color: transparent;
}
#classementTable tbody tr td:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#classementTable tbody tr td:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#classementTable tbody tr:nth-child(odd) {
    background-color: #7777;
}
.team-badge {
    width: 40px;
    height: 40px;
}
.div2 .team_name{
    width: 45%;
}
/* End classementTable */
/* Start div 2 Tableau de classement des équipes */
.div2{
    margin-top: 15px;
}


/* End div 2 Tableau de classement des équipes*/
.footer{
    background-color: var(--transparent-color);
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.up-footer{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.footer .container{
    display: flex;
    flex-direction: column;
}
#title{
    display: flex;
}
#title img{
    width: auto;
}
#title p{
    padding-left: 8px;
    padding-top: 8px;
}
#License{
    margin-left: auto;
}
#License ul{
    display: flex;
}
/* #License ul li{
    
} */
#License ul li a{
    margin-left: 12px;
    color: #000;
    text-decoration: none;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
}
#License ul li a:hover{
    text-decoration: underline;
}
#barre{
    width: 100%;
    border: 0.1px solid #7777;
}
.down-footer{
    display: flex;
    padding-top: 20px;
}
#rs{
    margin-left: auto;
}
#rs i{
    padding-left: 5px;
    cursor: pointer;
}
.footer p{
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
}