/* Start Variables */
:root{
    --main-color:rgb(162, 0, 255);
    --transparent-color:rgba(235, 225, 240, 0.9);
    --section-padding:100px;
}
/* End Variables */
/* Start Global Rules */
*{
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0;
    }
    html{
        scroll-behavior: smooth;
    }
    ul{
        list-style: none;
    }
    
    body {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400; 
        font-style: normal;
        font-variation-settings: "wdth" 100;
        overflow-x: hidden;
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Small */
    @media (min-width:768px){
        .container{
            width:750px;
        }
    }
    /* Medium */
    @media (min-width:992px){
        .container{
            width:970px;
        }
    }
    /* Large */
    @media (min-width:1200px){
        .container{
            width:1170px;
        }
    }
    /* End Global Rules */
/* Start header */
.header{
    display: flex;
    background-color: var(--transparent-color);
    padding: 10px;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
    padding-top: 12px;
    padding-left: 5px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.login-signup{
    padding-top: 7px;
    padding-right: 35px;
    margin-left: auto;
}
#login{
    border: none;
    background-color:var(--transparent-color);
    cursor: pointer;
    color: var(--main-color);
}
#signup{
    margin-left: 25px;
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}
/* End header */
/* Start home : Search */
.home {
    min-height: 100vh;
    background-image:url(../ressources/imgs/pic_ancien_botola.png);
    background-size: cover;
    position: relative;
}

.home .text {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: black;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}


.home .text .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 645px;
    height: 150px;
    background-color: rgb(235 225 240 / 70%);
}

.home .text .content {
    max-width: 500px;
    padding-left: 90px;
    text-align: center;
}

.home .text .content h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.home .text .content p {
    font-size: 16px;
    line-height: 2;
}
.search{
    position: relative;
    margin-bottom: 20px;
    bottom: -400px;
    left: 25%;
}
.search input {
    background-color:rgb(235 225 240 / 70%) ;
    padding-left: 30px;
    width: 648px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
}
.search i {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
/* End home : Search */
/* Start home : cards */
.cards{
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.box img{
    width: 300px;
    height: 300px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.box{
    border: none;
    border-radius: 50px;
    background-color: var(--transparent-color);
    padding-bottom: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.box:hover{
    background-color: rgb(208, 227, 238);
    transform: scale(1.1) translateY(-5px) rotate(1.5deg); 
}
.box h3{
    text-align: center;
    font-weight:normal
}
.more{
    margin-top: 30px;
    padding-top: 20px;
}
.more button{
    border: none;
    border-radius: 40px;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #D473D4;
    cursor: pointer;
    transition: 0.3s;
}
.more button:hover {
    color: #D473D4;
    background-color: black;
    font-weight: bold;
    transform: translateY(-5px);
}
/* End home : cards */
/* Start Footer */
.footer{
    background-color: var(--transparent-color);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.up-footer{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.footer .container{
    display: flex;
    flex-direction: column;
}
#title{
    display: flex;
}
#title img{
    width: auto;
}
#title p{
    padding-left: 8px;
    padding-top: 8px;
}
#License{
    margin-left: auto;
}
#License ul{
    display: flex;
}
/* #License ul li{
    
} */
#License ul li a{
    margin-left: 12px;
    color: #000;
    text-decoration: none;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
}
#License ul li a:hover{
    text-decoration: underline;
}
#barre{
    width: 100%;
    border: 0.1px solid #7777;
}
.down-footer{
    display: flex;
    padding-top: 20px;
}
#rs{
    margin-left: auto;
}
#rs i{
    padding-left: 5px;
    cursor: pointer;
}
.footer p{
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
}
/* End Footer */